<nav style="border-bottom: 1px solid black">jobHunter</nav>
<div style="display: flex;">
  <aside style="border-right: 1px solid black">
    <ul>
      <li>dahsboard</li>
      <li>offers</li>
      <li>calendar</li>
    </ul>
    <button>new offer</button>
    <button>new response</button>
  </aside>
  <main>

    <app-offer-form [offerId]="updatingOffer"></app-offer-form>
    <hr>
    <app-offer-detail *ngIf="viewingOffer" 
        [offer]="viewingOffer"
        (updatingOffer)="updatingOffer = $event" 
        (deletedOffer)="offersService.deleteOffer($event)"/>
    <router-outlet></router-outlet>
  </main>
</div> 