<nav style="border-bottom: 1px solid black">jobHunter</nav>
<div style="display: flex;">
  <aside style="border-right: 1px solid black">
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li><a routerLink="/calendar">Calendar</a></li>
    </ul>
    <button>new offer</button>
    <button>new response</button>
  </aside>
  <main>

    <app-offer-form></app-offer-form>
    <hr>
    <app-offer-detail  *ngIf="globalStateStore.viewingOffer$ | async as offer"/>
    <router-outlet></router-outlet>
    <button (click)="showTestSnackbar()">create snackbar</button>
  <div *ngFor="let snack of snackbarService.snackbars$ | async">
  <span>{{ snack.message }}</span>
  <button *ngIf="snack.action" (click)="snack.action()">Action</button>
</div>
  </main>
</div> 